@{
    ViewData["Title"] = "About";

var studentName="Judene";
var studentNumber = "101503637";
var courseCode="COMP 2139";
var courseSection= "8:00am";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h1>Welcome to the About Page</h1>
    <p>Student Name: @studentName</p>
    <p>Student Number: @studentNumber</p>
    <p>Code: @courseCode</p> 
    <p>Course Selection:@courseSection</p>
</div>

